
  *{
    padding: 0;
    margin: 0;
  }
  .main{
    display: grid;
    grid-template-columns: 1fr 3fr 0.5fr;
  }
  .content{
    padding-top: 40px;
    padding-left: 10px;
  }
  .nav{
    padding-top: 40px;
    background-color:deepskyblue;
  }
  
  #update-product {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  .btn-update {
    cursor: pointer;
  }
  .product-table-cell{
    margin: 2px 2px 2px 2px;
    border: dotted 1px black;
  }
  a{
    list-style: none;
    color: black;
    font-weight: 700;
  }